<section class="login" ng-controller="LoginController as login">
    <div class="row">
        <h3><i class="fa fa-user"></i> {{$root.text.login.lab_paginaaccesso}}</h3>
    </div>
    <div class="row">
        <form class="form-horizontal" role="form" name="loginForm" novalidate>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="Email" ng-model="login.credential.email" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Password" ng-model="login.credential.password" required>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block" ng-click="login.login()" ng-disabled="!loginForm.$valid">{{$root.text.login.btn_accedi}}</button>
                <p class="help-block">
                    <a class="pull-right text-muted" ui-sref="passwordreset"><small>{{$root.text.login.lnk_dimenticatopassword}}</small></a><br>
                    <a class="pull-right text-muted" ui-sref="signup"><small>{{$root.text.login.lnk_registrati}}</small></a>
                </p>
            </div>
        </form>
    </div>
</section>
