<section ng-controller="MapController as map">
    <div class="container-fluid map-container">
        <div class="row height">
            <div class="map-sx height" ng-class="map.panelToggleClass">
                <div id="map" class="section-map height"></div>
                <ul class="panel-actions">
                    <button ng-click="map.closePanel()" class="close-panel clear-button"><li><i class="fa fa-chevron-right fa-lg"></i></li></button>
                    <button ng-click="map.openPanel()" class="open-panel clear-button"><li><i class="fa fa-chevron-left fa-lg"></i></li></button>
                    <li title="{{$root.text.map.tip_stampa}}" ng-click="map.print()"><i class="fa fa-print fa-lg"></i></li>
                    <li title="{{$root.text.map.tip_condividi}}" ng-click="map.shareToSocial()"><i class="fa fa-share-alt fa-lg"></i></li>
                    <li title="{{$root.text.map.tip_download}}" ng-click="map.download()"><iframe id="iframe_download" style="display:none"></iframe><i class="fa fa-download fa-lg"></i></li>
                    <li title="Zoom su mappa" ng-click="map.zoomToExtent(map.data.extent)"><i class="fa fa-dot-circle-o fa-lg"></i></li>
                    <!-- <li><i class="fa fa-heart fa-lg"></i></li> -->
                </ul>
                <ul class="map-tools">
                    <li ng-click="closeLeggendClass = ''"><i class="fa fa-list-ul fa-lg"></i></li>
                </ul>
                <div class="map-legend ngdialog-content" ng-class="closeLeggendClass">
                    <h2>{{$root.text.map.lab_legenda}}</h2>
                    <div style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
                        <div ng-repeat="layer in map.layers" ng-show="layer.active">
                            <h3>{{layer.name}}</h3>
                            <div class="form-horizontal">
                                <div ng-repeat="legend in layer.options.legend">
                                    <div ng-hide="$last">
                                        <div class="form-group" ng-hide="(layer.options.sizeType == 'variable' && layer.options.layerType == 'point')">
                                            <div class="col-xs-4">
                                                <div class="color-legend" style="background-color: {{legend.color}};"></div>
                                            </div>
                                            <label class="col-xs-8"><i class="fa fa-minor-equal"></i> {{legend.number}} {{layer.options.unit}}</label>
                                        </div>
                                        <div class="form-group" ng-show="(layer.options.sizeType == 'variable' && layer.options.layerType == 'point')">
                                            <div class="col-xs-4" >
                                                <div class="" style="border-radius: 50%; width:10px; height:10px; background-color: {{layer.options.nodataColor}};"></div>
                                            </div>
                                            <label class="col-xs-8">{{legend.number}} {{layer.options.unit}}</label>
                                        </div>
                                    </div>
                                    <div ng-show="$last">
                                        <div class="form-group" ng-hide="(layer.options.sizeType == 'variable' && layer.options.layerType == 'point')">
                                            <div class="col-xs-4">
                                                <div class="color-legend" style="background-color: {{legend.color}};"></div>
                                            </div>
                                            <label class="col-xs-8">{{$root.text.map.lab_oltre}}</label>
                                        </div>
                                        <div class="form-group" ng-show="(layer.options.sizeType == 'variable' && layer.options.layerType == 'point')">
                                            <div class="col-xs-4">
                                                <div class="color-legend" style="border-radius: 50%; width:20px; background-color: {{layer.options.nodataColor}};"></div>
                                            </div>
                                            <label class="col-xs-8">{{legend.number}} {{layer.options.unit}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="ngdialog-close" ng-click="closeLeggendClass = 'hidden'"></div>
                </div>
            </div>
            <aside class="panel-dx height" ng-class="map.panelToggleClass">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="map-name" class="col-sm-3 control-label">{{$root.text.map.lab_titolo}}</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="map.data.name" class="form-control" id="map-name" ng-disabled="!map.data.isMine">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="map-description" class="col-sm-3 control-label">{{$root.text.map.lab_descrizione}}</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="map.data.description" class="form-control" id="map-description" ng-disabled="!map.data.isMine">
                        </div>
                    </div>
                </div>
                <div class="panel-group" role="tablist">
                    <div class="panel panel-default" ng-repeat="layer in map.layers">
                        <div ng-show="layer.type == 'background'" class="panel-background-map">
                            <input type="checkbox" id="background-to-check" class="input-hidden input-layer-active" ng-model="map.layers[$index].active" ng-change="map.toggleActiveLayer(layer, true)">
                            <label for="background-to-check" class="layer-check"><i class="fa fa-check fa-lg"></i></label>
                            <input type="checkbox" class="input-hidden accordion-collapse" id="background-type">
                            <label for="background-type" class="accordion-label check-ok">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title panel-title-custom">
                                        {{$root.text.map.box_mappadisfondo}}
                                    </h4>
                                    <i class="fa fa-caret-down fa-lg fa-caret-open"></i>
                                    <i class="fa fa-caret-right fa-lg fa-caret-close"></i>
                                </div>
                            </label>
                            <div class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label" for="background-type-select">{{$root.text.map.lab_cartografia}}</label>
                                        <select id="background-type-select" class="form-control" ng-model="map.layers[$index].options.source" ng-options="option.key as option.value for option in map.configLayers.background.source.options" ng-disabled="!map.data.isMine"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="layer.type == 'statistic'">
                            <input type="checkbox" id="layer-{{layer.order}}-to-check" class="input-hidden input-layer-active" ng-model="map.layers[$index].active" ng-change="map.toggleActiveLayer(layer)">
                            <label for="layer-{{layer.order}}-to-check" class="layer-check"><i class="fa fa-check fa-lg"></i></label>
                            <input type="checkbox" class="input-hidden accordion-collapse" id="layer-{{layer.order}}" ng-model="map.checkbox[$index]">
                            <label for="layer-{{layer.order}}" class="accordion-label check-ok">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title panel-title-custom">
                                        {{layer.name}}
                                    </h4>
                                    <i class="fa fa-caret-down fa-lg fa-caret-open"></i>
                                    <i class="fa fa-caret-right fa-lg fa-caret-close"></i>
                                    <button title="Zoom su area" class="clear-button btn-layer-action" ng-click="map.zoomToExtent(layer.options.extent)">
                                        <i class="fa fa-dot-circle-o fa-lg"></i>
                                    </button>
                                    <!-- <button title="Sposta sotto" class="clear-button btn-layer-action">
                                        <i class="fa fa-long-arrow-down fa-lg"></i>
                                    </button>
                                    <button title="Sposta sopra" class="clear-button btn-layer-action">
                                        <i class="fa fa-long-arrow-up fa-lg"></i>
                                    </button> -->
                                    <!-- <i class="fa fa-exclamation-triangle fa-lg"></i> -->
                                </div>
                            </label>
                            <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-12" ng-show="map.update[layer.order]">
                                                <div class="alert alert-warning" role="alert">{{$root.text.map.txt_aggiornamenti1}}, <a ng-click="map.updateDataLayer(map.update[layer.order])" title="Aggiornare layer">{{$root.text.map.lnk_aggiorna}}</a> {{$root.text.map.txt_aggiornamenti2}}</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="name-layer">{{$root.text.map.lab_nome}}</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="name-layer" class="form-control" ng-model="map.layers[$index].name" ng-disabled="!map.data.isMine" ng-focus="map.nameLock = true" ng-blur="map.nameLock = false"></input>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="layer-type">{{$root.text.map.lab_tipo}}</label>
                                            <div class="col-sm-9">
                                                <select id="layer-type" class="form-control" ng-model="map.layers[$index].options.layerType" ng-options="option.key as option.value for option in map.configLayers.statistic.type.options" ng-disabled="!map.data.isMine"></select>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="layer.options.layerType == 'point'">
                                            <label class="col-md-3 control-label" for="size-type">{{$root.text.map.lab_tipodim}}</label>
                                            <div class="col-sm-9">
                                                <select id="size-type" class="form-control" ng-model="map.layers[$index].options.sizeType" ng-options="option.key as option.value for option in map.configLayers.statistic.sizeType.options" ng-disabled="!map.data.isMine"></select>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="layer.options.layerType == 'point'">
                                            <label class="col-md-3 control-label" for="size">{{$root.text.map.lab_scala}}</label>
                                            <div class="col-sm-9" ng-show="layer.options.sizeType == 'variable'">
                                                min<input type="range" id="size" class="form-control" min="1" max="20" ng-model="map.layers[$index].options.minSize" ng-disabled="!map.data.isMine">
                                                max<input type="range" id="size" class="form-control" min="20" max="40" ng-model="map.layers[$index].options.maxSize" ng-disabled="!map.data.isMine">
                                            </div>
                                            <div class="col-sm-9" ng-show="layer.options.sizeType == 'fixed'">
                                                <input type="range" id="size" class="form-control" min="1" max="40" ng-model="map.layers[$index].options.minSize" ng-disabled="!map.data.isMine">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="division-type">{{$root.text.map.lab_divisione}}</label>
                                            <div class="col-sm-9">
                                                <select id="division-type" class="form-control" ng-model="map.layers[$index].options.divisionType" ng-options="option.key as option.value for option in map.configLayers.statistic.divisionType.options" ng-disabled="!map.data.isMine"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="divisions">{{$root.text.map.lab_nclassi}}</label>
                                            <div class="col-sm-9">
                                                <select id="divisions" class="form-control" ng-model="map.layers[$index].options.divisions" ng-options="option.key as option.value for option in map.configLayers.statistic.divisionNumber.options" ng-disabled="!map.data.isMine"></select>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group" ng-show="layer.options.divisionType == 'manual'">
                                            <label class="col-md-3 control-label">{{$root.text.map.lab_colori}}</label>
                                            <div class="col-sm-9">
                                                <div ng-repeat="class in layer.options.class">
                                                    <div ng-hide="$last">
                                                        <div class="col-xs-6 col-no-padding">
                                                            <input type="number" class="form-control" ng-model="class.number">
                                                        </div>
                                                        <div class="col-xs-6 col-no-padding">
                                                            <input class="form-control no-readonly" style="background-color: {{class.color}}" colorpicker colorpicker-parent="true" type="text" ng-model="class.color" readonly="true" />
                                                        </div>
                                                    </div>
                                                    <div ng-show="$last">
                                                        <div class="col-xs-6 col-no-padding">
                                                            <label class="col-xs-12 control-label" for="other-color" >{{$root.text.map.lab_oltre}}</label>
                                                        </div>
                                                        <div class="col-xs-6 col-no-padding">
                                                            <input class="form-control no-readonly" id="other-color" style="background-color: {{class.color}}" colorpicker colorpicker-parent="true" type="text" ng-model="class.color" readonly="true" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="form-group" ng-hide="layer.options.divisionType == 'manual'">
                                            <label class="col-md-3 control-label">{{$root.text.map.lab_colori}}</label>
                                            <div class="col-sm-9" ng-hide="(layer.options.sizeType == 'variable' && layer.options.layerType == 'point')">
                                                <div>
                                                    <div class="col-xs-4 col-no-padding">
                                                        <label class="col-xs-12 control-label">{{$root.text.map.lab_inizio}}</label>
                                                    </div>
                                                    <div class="col-xs-8 col-no-padding">
                                                        <input class="form-control no-readonly" style="background-color: {{map.layers[$index].options.class[0].color}}" colorpicker colorpicker-parent="true" type="text" ng-model="map.layers[$index].options.class[0].color" readonly="true" ng-disabled="!map.data.isMine">
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="col-xs-4 col-no-padding">
                                                        <label class="col-xs-12 control-label">{{$root.text.map.lab_fine}}</label>
                                                    </div>
                                                    <div class="col-xs-8 col-no-padding">
                                                        <input class="form-control no-readonly" style="background-color: {{map.layers[$index].options.class[1].color}}" colorpicker colorpicker-parent="true" type="text" ng-model="map.layers[$index].options.class[1].color" readonly="true" ng-disabled="!map.data.isMine">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-9" ng-show="(layer.options.sizeType == 'variable' && layer.options.layerType == 'point')">
                                                <div>
                                                    <div class="col-xs-8 col-no-padding">
                                                        <input class="form-control no-readonly" style="background-color: {{map.layers[$index].options.nodataColor}}" colorpicker colorpicker-parent="true" type="text" ng-model="map.layers[$index].options.nodataColor" readonly="true" ng-disabled="!map.data.isMine">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="opacity">{{$root.text.map.lab_opacita}}</label>
                                            <div class="col-sm-9">
                                                <input type="range" id="opacity" class="form-control" min="0" max="100" ng-model="map.layers[$index].options.opacity" step="10" ng-disabled="!map.data.isMine">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-hide="true">
                                            <label class="col-md-3 control-label" for="precision">{{$root.text.map.lab_decimali}}</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" ng-model="map.layers[$index].options.precision" ng-disabled="!map.data.isMine">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="unit">{{$root.text.map.lab_unitadimisura}}</label>
                                            <div class="col-sm-9">
                                                <input ng-focus="map.nameLock = true" ng-blur="map.nameLock = false" type="text" class="form-control" ng-model="map.layers[$index].options.unit" ng-disabled="!map.data.isMine">
                                            </div>
                                        </div>
                                        <div class="form-group text-right">
                                            <div class="col-sm-12">
                                                <button class="btn btn-default" ng-click="map.editDataLayer($index)" ng-show="map.data.isMine">{{$root.text.map.btn_correggidati}}</button>
                                                <button class="btn btn-default" ng-click="map.removeMapLayer($index)" ng-show="map.data.isMine">{{$root.text.map.but_rimuovi}}</button>
                                                <!-- <button class="btn btn-default" ng-click="map.refreshMap()">{{$root.text.map.but_applica}}</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-default" ng-show="map.hasChanged()" ng-click="map.undoMap()" ng-hide="!map.data.isMine">{{$root.text.map.btn_annullamod}}</button>
                    <button class="btn btn-default" ng-click="map.addLayerFromCkan()" ng-hide="!map.data.isMine">{{$root.text.map.but_aggiungistatistica}}</button>
                    <button class="btn btn-default" ng-class="{saved: map.data.state === 'saved'}" ng-click="map.saveMap()" ng-hide="!map.data.isMine"><i ng-show="map.data.state === 'saved'" class="fa fa-check"></i><span>{{$root.text.map.but_salva}}</span></button>
                </div>
                <div class="form-inline" ng-hide="!map.data.isMine">
                    <label class="control-label">{{$root.text.map.lab_questamappae}}:</label>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="radio" name="map.data.private" ng-model="map.data.private" ng-value="true" ng-disabled="!map.data.isMine"> {{$root.text.map.lab_privata}}
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name="map.data.private" ng-model="map.data.private" ng-value="false" ng-disabled="!map.data.isMine"> {{$root.text.map.lab_pubblica}}
                        </label>
                    </div>
                </div>
                <p class="map-published-by">{{$root.text.map.lab_pubblicatoda1}} {{map.data.user.name}} / <a href="mailto:" class="send-feedback">{{$root.text.map.lab_pubblicatoda2}} <i class="fa fa-envelope fa-lg"></i></a></p>
            </aside>
        </div>
        <loader ng-show="map.pending"></loader>
    </div>
</section>
