@media print {
    @page {
    	size: landscape;
    	margin: 0.5cm;
    	page-break-inside: avoid;
    }
    body {
        font-family: tahoma, arial, verdana, sans-serif;
        width: 28cm;
        height: 20cm;
        position: absolute;
    }
    body:before {
        content: url('../img/logo_GeoBI.png');
        background: #fff;
        background-repeat: no-repeat;
        height: 70px;
        width: 240px;
        position: absolute;
        z-index: 1000;
    }
    .olControlAttribution {
        top: 0;
        left: 270px;
        font-size: 9pt;
    }
    
    .olMapViewport {
    	page-break-inside: avoid;
        overflow: visible !important;
    }
}
