<h2><span class="ngdialog-span-title">{{$root.text.homepage.lab_cancellaremappa1}}</span> {{$root.text.homepage.lab_cancellaremappa2}}</h2>
<div class="form">
    <div class="form-group">
        <p>{{$root.text.homepage.lab_seisicurocancellare}}</p>
    </div>
    <div class="form-group text-right">
        <button type="button" class="btn btn-default ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">{{$root.text.homepage.but_annulla}}</button>
        <button type="button" class="btn btn-default ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">{{$root.text.homepage.but_conferma}}</button>
    </div>
</div>